{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block 'titulo' %}Detalhe{%endblock%}
{% block 'conteudo' %}
<section class="bg-dark t-white vh-min-100 list-me z-2 p-rel pt-5 reveal l-fade-scroll" id="registro_oportunidade_unique">
              <div class="divisor bg-brand-light mb-5 mt-3"></div>
        <div class="container p-5" id="contact">
            <div class="section-mask bg-black-a"></div>
            <div class="row justify-content-center">
                <div class="col-8 ml-2 text-center">
                    <h2 class="menu-title">Registro</h2><br>
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-1" data-toggle="tab" href="#nav-home-id" role="tab" aria-controls="nav-home-id" aria-selected="true">Registro</a>
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Cliente Final</a>
                            <a class="nav-item nav-link" id="nav-contact-tab1" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Informações do Projeto</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Equipamentos</a>
                            <a class="nav-item nav-link" id="nav-about-vendedor-tab" data-toggle="tab" href="#nav-about-vendedor" role="tab" aria-controls="nav-about-vendedor" aria-selected="false">Vendedor</a>
                        </div>
                    </nav>
                        {% csrf_token %}
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home-id" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="form-group f-concert-one d-flex flex-column vw-30 text-left">
                                            {% if vendedor %}
                                                <li><p>Revenda: {{registro.id_revenda}}</p></li>
                                            {% endif %}
                                            {% if not registro.status and not registro.atualizado %}
                                                <label>Status: <br />
                                                <input readonly="readonly" onchange="consultaCNPJ()" id="status_registro" style="color: black; background-color: yellow;" name="status_registro"value="Aguardando" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% elif registro.atualizado and not registro.status %}
                                                <label>Status: <br />
                                                <input readonly="readonly" onchange="consultaCNPJ()" id="status_registro" style="color: black; background-color: red;" name="status_registro"value="Não Aprovado" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% else %}
                                                <label>Status: <br />
                                                <input readonly="readonly" onchange="consultaCNPJ()" id="status_registro" style="color: black; background-color: green;" name="status_registro"value="Aprovado" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% endif %}
                                            <label>Data Criação: <br />
                                                <input readonly="readonly" id="date_entered_registro" name="date_entered_registro" style="color: black;"  value="{{registro.date_entered|naturalday}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% if registro.status %}
                                                <label>Data Aprovação: <br />
                                                <input readonly="readonly" id="date_aprovacao" name="date_aprovacao" style="color: black;"  value="{{registro.date_atualizado|naturalday}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% elif registro.atualizado and not registro.status %}
                                                <label>Data Reprovação: <br />
                                                <input readonly="readonly" id="date_aprovacao" name="date_aprovacao" style="color: black;"  value="{{registro.date_atualizado|naturalday}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            {% endif %}
                                            {% if registro.numero_registro %}
                                                <label>Número do Registro: <br />
                                                    <input readonly="readonly" id="number_registro" name="number_registro" style="color: black;"  value="{{registro.numero_registro}}" class="form-control shadow-none my-1" type="text">
                                                </label>
                                            {% endif %}
											<a onclick="clickInfoR()" id="nav-contact-tab-1" data-toggle="tab"  href="#nav-home" role="tab" aria-controls="nav-contact" aria-selected="false" class="btn btn-success">Próximo!</a>
                                        </div>
                        </div>
                        <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="form-group f-concert-one d-flex flex-column vw-30 text-left">
                                            <label>CNPJ: <br />
                                                <input readonly="readonly" onchange="consultaCNPJ()" id="cnpj_cliente" style="color: black;" name="cnpj_cliente"value="{{registro.id_cliente.cnpj}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>Razão Social: <br />
                                                <input readonly="readonly" id="razao_cliente" name="razao_cliente" style="color: black;"  value="{{registro.id_cliente.razao_social}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>CEP: <br />
                                                <input readonly="readonly" id="cep_cliente" name="cep_cliente" style="color: black;"  value="{{registro.id_cliente.cep}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>Endereço: <br />
                                                <input readonly="readonly" id="address_cliente" name="address_cliente" style="color: black;"  value="{{registro.id_cliente.rua}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>Cidade: <br />
                                                <input readonly="readonly" id="city_cliente" name="city_cliente" style="color: black;"  value="{{registro.id_cliente.cidade}}" class="form-control shadow-none my-1" type="text">
                                            </label>
												<label>Estado: <br />
                                                <input readonly="readonly" id="state_cliente" name="state_cliente" style="color: black;"  value="{{registro.id_cliente.estado}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>Contato: <br />
                                                <input readonly="readonly" id="contact_cliente" name="contact_cliente" style="color: black;"  value="{{registro.contato}}" class="form-control shadow-none my-1" type="text">
                                            </label>
                                            <label>Telefone: <br />
                                                <input readonly="readonly" id="phone_cliente" name="phone_cliente" style="color: black;"  value="{{registro.id_cliente.telefone}}" class="form-control shadow-none my-1" type="tel">
                                            </label>
                                            <label>E-mail: <br />
                                                <input readonly="readonly" id="email_cliente" name="email_cliente" style="color: black;"  value="{{registro.id_cliente.email}}" class="form-control shadow-none my-1" type="email">
                                            </label>
											<a onclick="clickClienteL()" id="nav-contact-tab" data-toggle="tab"  href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" class="btn btn-success">Próximo!</a>
                                        </div>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                             <div class="form-group f-concert-one d-flex flex-column vw-30 text-left">
                                <label>Aplicação: <br />
                                    <textarea readonly="readonly" style="color: black;"   name="aplication_projeto"  class="form-control shadow-none my-1">{{registro.id_projeto.aplicacao}}</textarea>
                                </label>
                                 <label>Especificação Técnica Solicitada<br />
                                    <textarea readonly="readonly" style="color: black;"  name="esp_projeto" class="form-control shadow-none my-1">{{registro.id_projeto.esp_tec}}</textarea>
                                </label>
                                  <label>Já foi feito homologação?<br />
                                    <input class="form-control shadow-none my-1" style="color: black;"  readonly="readonly" type="text" name="homologa_projeto" value="{% if registro.id_projeto.homologa %}Sim{% else %}Não{%endif%}">
                                </label>
                                 <label>O cliente já utiliza coletor de dados? Se sim, qual modelo e quantidade?<br />
                                    <textarea readonly="readonly" name="colet_projeto" style="color: black;"  class="form-control shadow-none my-1">{{registro.id_projeto.colet_dados}}</textarea>
                                </label>
                                 <label>Parceiro de software<br />
                                    <textarea readonly="readonly" name="parc_projeto" style="color: black;"  class="form-control shadow-none my-1">{{registro.id_projeto.parc_soft}}</textarea>
                                </label>
                                 <label>Data prevista para conclusão<br />
                                    <input readonly="readonly" type="text" style="color: black;"  value="{{registro.id_projeto.date_concl}}" name="concl_projeto" class="form-control shadow-none my-1">
                                </label>
                                 <label>Informações adicionais<br />
                                    <textarea readonly="readonly" name="info_projeto" style="color: black;"  class="form-control shadow-none my-1">{{registro.id_projeto.info_ad}}</textarea>
                                </label>
                                 <a onclick="clickInfo()" id="nav-about-tab1"  data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" class="btn btn-success">Próximo!</a>
                             </div>
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <div class="form-group f-concert-one d-flex flex-column vw-30 text-left">
                                <label><br><b>Equipamentos:</b></label><br />
                                    <table ALIGN=center id="tbpn">
                                        {% if i %}
                                            <tr>
                                                <th valign="center"><label style="color: white">Part Number</label></th>
                                                <th valign="center"><label style="color: white">Descrição</label></th>
                                                <th valign="center"><label style="color: white">Quantidade</label></th>
                                                <th valign="center"><label style="color: white">Valor</label></th>
                                            </tr>
                                        {% endif %}
                                        {% for pn in pnss %}
                                            {% if not pn.id_equip.is_acessorio %}

                                                <tr>
                                                    <td><input style="color: black;" value="{{pn.id_equip}}"  readonly="readonly" type="text" name="pn_projeto0" id="pn_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.id_equip.descricao}}"  readonly="readonly" type="text" name="desc_projeto0" id="desc_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.qty}}"  readonly="readonly" type="text" name="qty_projeto0" id="qty_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.valor}}"  readonly="readonly" type="text" name="value_projeto0" id="value_projeto0" class="form-control shadow-none my-1"></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                <br>
                                <label><br><b>Acessórios:</b></label><br />
                                    <table ALIGN=center id="tbac">
                                        {% if j %}
                                            <tr>
                                                <th valign="center"><label style="color: white">Part Number</label></th>
                                                <th valign="center"><label style="color: white">Descrição</label></th>
                                                <th valign="center"><label style="color: white">Quantidade</label></th>
                                                <th valign="center"><label style="color: white">Valor</label></th>
                                            </tr>
                                        {% endif %}
                                        {% for pn in pnss %}
                                            {% if pn.id_equip.is_acessorio %}
                                                <tr>
                                                    <td><input style="color: black;" value="{{pn.id_equip}}"  readonly="readonly" type="text" name="ac_pn_projeto0" id="ac_pn_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.id_equip.descricao}}"  readonly="readonly" type="text" name="ac_desc_projeto0" id="ac_desc_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.qty}}"  readonly="readonly" type="text" name="ac_qty_projeto0" id="ac_qty_projeto0" class="form-control shadow-none my-1"></td>
                                                    <td><input style="color: black;" value="{{pn.valor}}"  readonly="readonly" type="text" name="ac_value_projeto0" id="ac_value_projeto0" class="form-control shadow-none my-1"></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                <br><a onclick="clickEquip()" id="nav-about-vendedor-tab1" data-toggle="tab" href="#nav-about-vendedor" role="tab" aria-controls="nav-about-vendedor" class="btn btn-success">Próximo!</a>
                                </label>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-about-vendedor" role="tabpanel" aria-labelledby="nav-about-vendedor-tab">
                            <div class="form-group f-concert-one d-flex flex-column vw-30 text-left">
                                <label>Vendedor: <br />
                                    <input style="color: black;" value="{{registro.id_vendedor}}"  class="form-control shadow-none my-1" type="text" name="vendedor" readonly="readonly" >
                                </label>
                            </div>
                        </div>
                    </div>
                    {% if not registro.status and not registro.atualizado and is_gerente %}
                    <div data-toggle="modal" data-target="#numero_registro" >
                                    <a class="btn btn-success" id="btnAprovar">
                                        Aprovar
                                    </a>
                     </div>
                     <div data-toggle="modal" data-target="#reprovar_registro" >
                                    <a class="btn btn-danger" id="btnReprovar">
                                        Reprovar
                                    </a>
                     </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}